body{
	background-color: silver;

}

h1{
	font-size: 48px;
	font-family: Arial;
	
	text-align: center;
}

h3{
	font-size: 32px;
	font-family: Ariel;
	text-align: center;
}

p{
	font-family: Arial;
	font-size: 16px;
	color: blue;
	text-align: center;	
}

h1, h3, p{
	color: #088A08;
}